.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:black;
	position: absolute;
    top: 20px;
    left: 20px;
}

#content-img {
	width: 250px;
	height: 250px;
	float: left;
	margin: 0 15px 0 0;
}

.header {
	position: relative;
	display: flex;
	left: 220px;
}





.content{
	width: 70%;
	margin: 0 auto;
}



.main {
	margin-top: 20px;
}

.head {
	text-align: center;
}

.validate {
	width: 100%;
	text-align: center;
}
