/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}



tbody tr:nth-child(even) td 
{
	background-color: yellow;
}

.last-row 
{
	text-align: right;
	font-weight: bold;
}

td.departmentCol[rowspan] 
{
	background-color: white;
	vertical-align: top;
	font-weight: bold;
}


h1
{
	text-align: center;
}

#title
{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

td.right
{
	text-align: right;
}

div
{
	border: 1px solid black;
	margin: 20px;
	margin-right: 15%;
}

caption
{
	margin-bottom: 5px;
}

